.dummy-title {
  font-size: 30px;
  font-weight: bold;
  margin: 15px;
}
span {
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.title {
  display: inline-block;
  background-color: #999;
  color: #fff;
  border: 1px solid #666;
  border-radius: 3px;
  padding: 30px;
  margin: 10px;
}
.content {
  font-size: 30px;
  margin: 10px;
}
.title a {
  margin: 20px;
  font-size: 20px;
  border: 1px solid #fff;
}
.title a:hover {
  background-color: #fff;
  color: #999;
  text-decoration: none;
}
