.DiaryInsert {
  display: flex;
  background-color: #495057;
  textarea {
    background: none;
    outline: none;
    border: none;
    padding: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #fff;
    resize: none;
    &::placeholder {
      color: rgb(108, 255, 132);
    }
    flex: 1;
  }
  button {
    background: none;
    outline: none;
    border: none;
    background-color: rgb(255, 192, 203);
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: rgb(251, 110, 206);
    }
  }
}
